<div class="footer">
    <div class="footer-content">
      <div class="footer-left">
        <h3>Sign up to receive our latest news</h3>
      </div>
      <div class="footer-right">
        <div class="sub">
          <div class='input-wrapper'>
            <nz-input-group>
                <input nz-input placeholder="Enter your email" class='subscribe-input'>
              </nz-input-group>
            <button nz-button nzType="primary" class='subscribe-button' nzSize="large">Subscribe</button>
          </div>
        </div>
        <div class='message'>
          <p class="subscribe-info">Get updates every week - no spam</p>
        </div>
      </div>
    </div>
    <div class="footer-columns">
      <div class="footer-large-description">
        <p class="logo">PPP</p>
        <p style="color: #888; font-size: 14px;">Free for all. Buy and Sell</p>
        <div class="social-media-icons">
          <fa-icon [icon]="faTelegram" class="social-icon"></fa-icon>
          <fa-icon [icon]="faInstagram" class="social-icon"></fa-icon>
          <fa-icon [icon]="faTiktok" class="social-icon"></fa-icon>
          <fa-icon [icon]="faFacebook" class="social-icon"></fa-icon>
          <fa-icon [icon]="faYoutube" class="social-icon"></fa-icon>
        </div>
      </div>
      <div class="footer-column">
        <h4>Solutions</h4>
        <ul>
          <li>Marketing</li>
          <li>Analytics</li>
          <li>E-commerce</li>
          <li>AI Studio</li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Support</h4>
        <ul>
          <li>Pricing</li>
          <li>Documentation</li>
          <li>Contacts</li>
          <li>Guide</li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Company</h4>
        <ul>
          <li>About Us</li>
          <li>Partners</li>
          <li>Jobs</li>
          <li>Blogs</li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Legal</h4>
        <ul>
          <li>Claims</li>
          <li>Privacy</li>
          <li>Terms</li>
          <li>Press</li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-bottom-left">
        <p style="border-top: 1px solid #888; margin-left: 20px;">2024 PPP- All rights reserved</p>
      </div>
    </div>
  </div>
  