<div class="checkout-container">
    <div class="progress-container">
      <nz-progress
        [nzPercent]="getProgressPrecent()"
        [nzShowInfo]="false"
        [nzStrokeWidth]="3"
      ></nz-progress>
    </div>
  

    <div *ngIf="currentStep === 1">
      <div class="billing-container">
        <h2>Billing Details</h2>
        <form>
          <div
            class="input-container"
            
          >
          <label for="name">Name</label>
          <input
            nz-input
            type="text"
            name="name"
            [value]="currentUser?.name"
            disabled
          />
        </div>
        <div class="input-container">
          <label for="email">Email</label>
          <input
            nz-input
            type="email"
            name="email"
            [value]="currentUser?.email"
            disabled
          />
        </div>
        <div class="input-container">
          <label for="phone">Phone</label>
          <input
            nz-input
            type="text"
            name="phone"
            [value]="currentUser?.phoneNumber"
            disabled
          />
        </div>
        <div class="input-container">
          <label for="paymentMethod">Preferred Payment Method</label>
          <select
            nz-input
            name="paymentMethod"
            [(ngModel)]="paymentMethod"
            class="custom-select"
          >
            <option value="Cash">Cash</option>
            <option value="Awash">Awash</option>
            <option value="CBE">CBE</option>
          </select>
        </div>
        <div class="input-container">
          <label for="deliveryAddress">Delivery Address</label>
          <input
            nz-input
            type="text"
            name="deliveryAddress"
            placeholder="Enter delivery address"
            [(ngModel)]="deliveryAddress"
          />
          </div>
        <div class="input-container">
          <label for="deliveryDate">Delivery Date</label>
          <input
            nz-input
            type="date"
            name="deliveryDate"
            placeholder="Enter delivery date"
            [(ngModel)]="deliveryDate"
          />
          </div>
        </form>
        <button
          nz-button
          (click)="submitBilling()"
        >
          Continue
        </button>
      </div>
    </div>

    <div *ngIf="currentStep === 2">
      <div class="summary-container">
        <div class="summary-container__order">
          <h2>Order Summary</h2>
          <div class="details">
            <div><span>Item(s)</span> {{ cartData.products.length }}</div>
            <div><span>Preffered Payment method</span><b>{{paymentMethod}}</b></div>
            <div><span>Expected delivery date</span><b>{{deliveryDate}}</b></div>
            <div>
              <span>Order total</span> {{ cartData.total | currency: "ETB " }}
            </div>
          </div>
          <button
            nz-button
            nzType="primary"
            (click)="submitCheckout()"
            [nzLoading]="loading"
          >
            Place order
          </button>
        </div>
        <div class="summary-container__items">
          <h2>Order Items</h2>
          <div class="item-list">
            <div class="item-container" *ngFor="let item of cartData.products">
              <div class="item-image">
                <img [src]="item.imagesPath[0]" alt="" />
              </div>
              <div class="item-title">
                {{ item.name }}
              </div>
              <div class="item-total">
                {{ item.price | currency: "ETB" }} x {{ item.quantity }} =
                {{ item.quantity * item.price | currency: "ETB" }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="currentStep === 3">
      <div class="confirmation-container">
        <header>
          <div class="title">
            <h1>Thank you!</h1>
            <p>Please check your email for the order confirmation</p>
          </div>
          <div class="order-id">
            Order ID: <span>{{ orderId }}</span>
          </div>
        </header>
        <button nz-button class="cta-button" routerLink="/home">
          Continue shopping
        </button>
        <div class="products-container">
          <h2>Order Summary</h2>
          <div class="products-container__list">
            <div class="list-item" *ngFor="let item of products">
              <div class="item-image">
                <img [src]="item.imagesPath[0]" alt="" />
              </div>
              <div class="item-title">
                {{ item.name }}
              </div>
              <div class="item-total">
                {{ item.price | currency: "ETB" }} x {{ item.quantity }} =
                {{ item.quantity * item.price | currency: "ETB" }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  