<div class="container">
    <div class="row justify-content-center">
    <div class="col-md-5">
     <div class="card">
        <div class="card-body py-md-4">
        <h3 class="text-center">Register</h3>
         <form _lpchecked="1">
            <div class="form-group">
               <input #firstNamevalue type="text" class="form-control" id="first_name" placeholder="First Name">
            </div>
            <div class="form-group">
                <input #lastNamevalue type="text" class="form-control" id="last_name" placeholder="Last Name">
             </div>
            <div class="form-group">
                <input #emailvalue type="email" class="form-control" id="email" placeholder="Email">
            </div>             
            <div class="form-group">
                <input #passwordvalue type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="buttons">
                <button class="btn btn-primary" type="button">Register</button>
                <div class="login">
                    <p>Already have an account? <a routerLink="/login"><b>Login</b></a></p>
                </div>
            </div>
        </form>
       </div>
    </div>
  </div>
  </div>
  </div>