.container {
    padding-top: 3%;
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    
}
.btn{
    background-color: #23d5ab;
    border: none;
}
.btn:hover{
    background-color: #6b2bf7;
}
.img-fluid{
    border-radius: 20px;
    height: 10%;
}
.intro-img {
    position: relative;
    display: inline-block;
}

.overlay-content {
    position: absolute;
    bottom: 10%;
    left: 4%;
    color: white; 
}
.overlay-content button{
    margin-top: 5%;
    font-size: 2em;
    padding: 10px 20px;
    border-radius: 10px;
}
.what{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}
.what-details{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}
.what-detail{
    display: flex;
    flex-direction: column;
    width: 19%;
    border: 1px solid #e1e0e0;
    border-radius: 10px;
    padding: 15px;
}
.what-detail p{
    color: #898888;
    font-size: 1.5em;
    line-height: 20px;
    width: 90%;
}
.what h1{
    margin-bottom: 2%;
    text-align: center;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 2rem;
}

.what-detail h2{
    font-size: 1.7em;
    font-weight: 700;
    margin-bottom: 5%;
    margin-top: 5%;
}
