<div class="purchase-requests-container" *ngIf="userHere && userHere.role == 'Admin'">
    <h2 class="title">Pending Orders</h2>

    <div class="btn-cont">
      <button class="btn-app" (click)='goToApproved()'>
        <span>Click here to see approved orders</span>
      </button>
    </div>
    <div style="text-align: center;" *ngIf="orderLength == 0" class="empty">No pending orders</div>

  <div class="product-container" *ngFor="let order of orders">
    <div  class="purchase-request-card" *ngIf="order.orderStatus == 'Pending'">
      <div class="product-image">
        <img src= {{order.orderImagePath}} alt="img here" />
      </div>
      <div class="product-details">
        <h3>{{ order.productNames }}</h3>
        <p><strong>User:</strong> {{ order.user?.name }}<span> (</span> <a (click)="seeUserInfo(order.userID)" class="__cf_email__" >See user info</a><span>)</span></p>
        <p><strong>Total price:</strong> {{ order.totalPrice }}</p>
        <p><strong>Quantity:</strong> {{ getTotalQuantity(order) }}</p>
      </div>
      <div class="delivery-details">
        <p><strong>Delivery Address:</strong> {{ order.deliveryAddress }}</p>
        <p><strong>Delivery Date:</strong> {{ order.deliveryDate }}</p>
      </div>
      <div class="action-buttons">
        <button (click)="approveOrder(order)" class="done-button">Approve</button>
        <button (click)="rejectOrder(order)" class="reject-button">Reject</button>
      </div>
    </div>
  </div>
</div>
  