@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 100%;
	margin: 0 auto;
  display: flex;
  justify-content: center;
}

header {
	background: #171c22;
	background: -moz-linear-gradient(-45deg, #171c22 0%, #2f3238 100%);
	background: -webkit-linear-gradient(-45deg, #171c22 0%, #2f3238 100%);
	background: linear-gradient(135deg, #171c22 0%, #2f3238 100%);
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}

nav a {
  color: #2cc688;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
}

.profile{
  color: #ff0000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  background-color: transparent;
  border: none;
}

nav a:hover {
  color: #cfcfcf;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
nav ul li a.active {
    color: rgb(255, 255, 255);
}

.nav-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
  position: absolute;
  right: 20px;
}
  
@media (max-width: 770px) {
    .nav-menu {
      transition: max-height 0.5s ease-out;
      overflow: hidden;
      max-height: 0;
    }
  
    .nav-menu.active {
      max-height: 500px;
    }
  
    nav li {
      display: block;
      margin-left: 0;
    }
  
    .nav-toggle {
      display: block;
    }
    .toggle-container{
      background: #171c22;
      background: -moz-linear-gradient(-45deg, #171c22 0%, #2f3238 100%);
      background: -webkit-linear-gradient(-45deg, #171c22 0%, #2f3238 100%);
      background: linear-gradient(135deg, #171c22 0%, #2f3238 100%);
      height: 8vh;
    }
}