<header>
    <div class="container">
      <div class="toggle-container">
        <button class="nav-toggle" aria-label="Toggle navigation" (click)="toggleNav()">☰</button>
      </div>
      <nav [class.active]="isNavActive" class="nav-menu">
        <ul>
          <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
          <li><a routerLink="#" routerLinkActive="active">About</a></li>
          <li><a routerLink="/cart" routerLinkActive="active">Cart</a></li>
          <li><a routerLink="/chat" routerLinkActive="active">Contact</a></li>
          <li *ngIf="!isLoggedIn" ><a routerLink="/login" routerLinkActive="active">Login</a></li>
          <li *ngIf="isLoggedIn" ><button class="profile" (click)="logout()" routerLinkActive="active">Profile</button></li>

        </ul>
      </nav>
    </div>
  </header>