<header>
    <div class="container">
      <div class="toggle-container">
        <button class="nav-toggle" aria-label="Toggle navigation" (click)="toggleNav()">☰</button>
      </div>
      <nav [class.active]="isNavActive" class="nav-menu">
        <ul>
          <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
          <li *ngIf="isUserAdmin"><a routerLink="/add-product" routerLinkActive="active">Add Product</a></li>
          <li *ngIf="!isUserAdmin && isLoggedIn"><a routerLink="/cart" routerLinkActive="active">Cart</a></li>
          <li *ngIf="isUserAdmin"><a routerLink="/users" routerLinkActive="active">Users</a></li>
          <li *ngIf="!isUserAdmin"><a routerLink="/chat" routerLinkActive="active">Contact</a></li>
          <li *ngIf="isUserAdmin" ><a routerLink="/requests" routerLinkActive="active">Requests</a></li>
          <li *ngIf="!isLoggedIn" ><a routerLink="/login" routerLinkActive="active">Login</a></li>
          <li *ngIf="isLoggedIn" ><button class="profile" (click)="openProfile()" routerLinkActive="active">Profile</button></li>

        </ul>
      </nav>
    </div>
  </header>