<div class="product-card">
  <nz-card class="ant-card" [nzLoading]="loading" style="position: relative; margin: 20px;">
    <img [src]="imageUrl" alt="{{ title }}" class="product-image"/>
    <div class="product-status" [ngStyle]="{'background-color': status === 'IN STOCK' ? '#52c41a' : '#2B4FEB', color: '#fff'}">
      {{ status }}
    </div>
    <div class="product-content">
      <div class="product-title">{{ title }}</div>
      <div class="product-price">{{ price }}</div>
      <div class="product-category">Category: {{ productType }}</div>
      <button (click)="onAddToCart()" type="button" class="btn btn-secondary btn-lg btn-block">
        Add to Cart
      </button>
    </div>
  </nz-card>
</div>
