html, body, .chat-container {
    height: 100%;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}
  
.chat-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100vw; 
    border: 1px solid #ccc;
    overflow: hidden;
}
  
.chat-header {
    background: #acadad;
    padding: 10px;
    color: white;
    text-align: center;
}
  
.chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background: #f4f6f9;
}
  
.message-wrapper {
    display: flex;
    padding-bottom: 10px;
}
  
.admin-message-wrapper {
    justify-content: flex-start;
}
  
.user-message-wrapper {
    justify-content: flex-end;
}
  
.message {
    max-width: 70%;
    min-width: 30%;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
}
  
.user-message {
    background-color: #dcf8c6;
    align-self: flex-end;
}
  
.admin-message {
    background-color: #ececec;
    align-self: flex-end;
}
  
.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}
  
.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
.chat-input button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}
  
.chat-input button:hover {
    background: #0056b3;
}
  