<div class="container">
    <h1 class="title">Update Product</h1>
    <p style="text-align: center;">Only change the fields you want to modify</p>
    <form (ngSubmit)="updateProduct()">
        <div class="propdet">
            <div class="head">
                <p>Product Details </p>
            </div>
            <div class="filter">
                <label for="propname">Name:</label>
                <input [(ngModel)]="product.name" type="text" id="name" name="name" #name placeholder="Name">
            </div>
            <div class="filter">
                <label for="description">Description:</label>
                <textarea [(ngModel)]="product.description" id="description" name="description" #description placeholder="Description"></textarea>
            </div>
            <div class="filter">
                <label for="category">Category:</label>
                <select [(ngModel)]="product.category" id="category" name="category" class="custom-select">
                    <option value="Cereals">Cereals</option>
                    <option value="DairyProducts">Dairy Products</option>
                    <option value="Vegetables">Vegetables</option>
                    <option value="Fruits">Fruits</option>
                    <option value="OtherProducts">Other Products</option>
                </select>
            </div>
            <div class="filter">
                <label for="quantity">Original Amount</label>
                <input [(ngModel)]="product.originalAmount" type="number" id="quantity" name="quantity" #quantity placeholder="Total Quantity">
            </div>
            <div class="filter">
                <label for="quantityLeft">Amount Left</label>
                <input [(ngModel)]="product.amountLeft" type="number" id="quantityLeft" name="quantityLeft" #quantityLeft placeholder="Quantity amountLeft">
            </div>
            <div class="filter">
                <label>Price per item</label>
                <input [(ngModel)]="product.price" #price type="text" name="price" placeholder="Price">
            </div>
            <div class="filter">
                <label for="images">Images:</label>
                <input required type="file" (change)="onFileChange($event)"  id="images" name="images" #images accept="image/*" multiple>
            </div>
            <p style="margin-top: -20px; color: red;">Adding images will overwrite the existing images</p>
            <div class="filter">
                <label for="producerName">Producer name:</label>
                <input type="text" id="producerName" name="producerName" #producerName placeholder="Producer Name">
            </div>
            <div class="filter">
                <label for="producerPhone">Producer phone number:</label>
                <input type="text" id="producerPhone" name="producerPhone" #producerPhone placeholder="Producer Phone">
            </div>
        </div>
        <div class="buttons">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>