.filter-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    max-width: 800px;
    margin: 5% auto;
}

[nz-button] {
    border-radius: 5px;
    margin-top: 8.5%;
}

.nz-select {
    font-weight: bold; /* Make the placeholder text bold */
    border: 2px solid #000; /* Thicker border */
  }
  
  .nz-select-arrow {
    font-weight: bold; /* Make the dropdown arrow icon bolder, if visible */
  }
  .bold-placeholder .ant-select-selection-placeholder {
    font-weight: bold;
  }
  
  .nz-select.ant-select-focused .ant-select-selector {
    border: 2px solid #000 !important; /* Keep the border thick when focused */
  }
  
.price-input {
    width: 100%;
    margin-bottom: 8px;
}
.products{
  margin: 0 auto;
  padding: 0px 16px;
  margin-left: 3%;
  padding-bottom: 3%;

  &__header {
    margin-bottom: 16px;
    > h2 {
      font-size: 1.75rem;
    }
  }
}

.card-list{
  display: flex; 
  flex-wrap: wrap; 
}

.products .card-list app-card {
  width: calc(33.33% - 10px);  
}

@media (max-width: 1200px) {
  .products .card-list app-card {
    width: calc(45% - 10px);  
  }
}

@media (max-width: 800px) {
  .products .card-list app-card {
    width: calc(51% - 10px); 
  }
}
@media (max-width: 700px) {
  .products .card-list app-card {
    width: calc(60% - 10px);  
  }
}

.header-c {
  font-size: 60px;
  font-family: 'Cursive', sans-serif;
  color: #2c3e50;
  text-align: center;
  position: relative;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}



.header-c span {
  display: inline-block;
  background: linear-gradient(90deg, #3498db, #9b59b6);
  -webkit-background-clip: text;
  color: transparent;
}

.header-p {
  font-size: 60px;
  font-family: 'Cursive', sans-serif;
  color: #2c3e50;
  text-align: center;
  position: relative;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin-right: 3.2%;
}



.header-p span {
  display: inline-block;
  background: linear-gradient(90deg, #3498db, #9b59b6);
  -webkit-background-clip: text;
  color: transparent;
}

.more-container {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}