.dialog-title {
    font-size: 2em;
    margin: 20px 20px;
    color: #333;
    text-align: center;
    color: rgb(0, 184, 0);

  }

  .icon-container {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .dialog-content {
    font-size: 1.2em;
    margin: 20px 30px;
    color: #555;
    text-align: center;
  }
  
  .dialog-actions {
    display: flex;
    justify-content: center;
  }
  
  .okay-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .okay-button:hover {
    background-color: #45a049;
  }
  
  .mat-dialog-container {
    top: 0;
    margin: 0;
    transition: transform 0.3s ease;
  }
  
  .mat-dialog-container.ng-enter {
    opacity: 0;
    transform: translateY(-50px);
  }
  
  .mat-dialog-container.ng-enter-active {
    opacity: 1;
    transform: translateY(0);
  }