<div class="profile-update-container" *ngIf="currentUser">
    <form class="profile-update-form" (ngSubmit)="updateProfile()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" [(ngModel)]="userModel.name" name="name" class="form-control"/>
      </div>
  
      <div class="form-group">
        <label for="userName">Username</label>
        <input type="text" id="userName" [(ngModel)]="userModel.userName" name="userName" class="form-control"/>
      </div>
  
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" [(ngModel)]="userModel.email" name="email" class="form-control"/>
      </div>
  
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" [(ngModel)]="userModel.password" name="password" class="form-control"/>
      </div>
  
      <div class="form-group" *ngIf="!isUserAdmin">
        <label for="role">Role</label>
        <select id="role" [(ngModel)]="userModel.role" name="role" class="form-control">
          <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
        </select>
      </div>

      <div class="form-group" *ngIf="isUserAdmin">
        <label for="role">Role</label>
        <select id="role" [(ngModel)]="userModel.role" name="role" class="form-control">
          <option *ngFor="let role of allRoles" [value]="role">{{ role }}</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="tel" id="phoneNumber" [(ngModel)]="userModel.phoneNumber" name="phoneNumber" class="form-control"/>
      </div>
  
      <div class="form-group">
        <label for="businessLicenseFile">Business License File</label>
        <input type="file" id="businessLicenseFile" (change)="onFileChange($event)" name="businessLicenseFile" class="form-control"/>
      </div>
  
      <button type="submit" class="btn btn-primary">Update Profile</button>
    </form>
  </div>